/*Estilo de Galerry carousel*/
.owl-dots{
	display: none;
}

.owl-carousel{
	padding: 0 3rem;
    box-sizing: border-box;
}

.owl-nav{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 0;
	z-index: -1;
}

#carousel p{
	font-weight: 600;
	margin-left: 3rem;
	color: #666;
}
#carousel img{
	width: 230px;
	height: 230px;
}

#carousel .row{
	margin-top: 2rem;
	margin-bottom: 2rem;
}
