*{
  outline: 0;
}

header {
  position: fixed;
  z-index: 1000;
  background-color: white;
  width: 100%;
}
#ecommerce-header *{
  color :#171717;
}

.ecommerce-header{
  margin-top: 20px;
}

.ecommerce-header-off-canvas {
  background-color: rgb(242,242,242);
}

.ecommerce-header-off-canvas .menu {
  padding: 1rem;
}

.ecommerce-header-off-canvas .menu a {
  color: #8a8a8a;
}

.position-left{
  overflow-y: hidden;
}

.a-border-bottom{
  border-bottom: 1px solid rgb(229,229,229);
}

.message-header{
  background-color: #171717;
  position: relative;
  top: 0;
  overflow: auto;
}

.message-header *{
  color: #fff;
  font-size: 13px;
}

.message-header img{
  width: 18px;
  height: 18px;
  margin: 0 15px 0 8px;
}

.message-header a:hover{
  color: #fff;
  text-decoration: underline;
}

.padding-left *{
  padding-left: 0px !important;
}

.padding-left5 li{
  padding-left: 10px!important;
}

.padding-top5{
  padding-top: 5px;
  padding-bottom:3px;
}

.fab{
  position: relative;
}

.searchBar{
  position: relative;
  float: left;
}

.new-badge{
  position:relative;
  background-color:#00a256;
  color:white!important;
  font-size:9px;
  width:32px;
  top: -25px;
  left: 70px;
  line-height:14px;
  text-align:center;
  border-radius:3px;
  font-family:"Helvetica Neue",Arial;
  letter-spacing:1px;
  padding:0 2px 0 3px;
  text-transform:uppercase;
}

.is-accordion-submenu-parent > a::after{
  display: block;
  width: 0;
  height: 0;
  border: inset 0px;
  content: '+';
  font-size: 25px;
  border-bottom-width: 0;
  border-top-style: solid;
  border-color: none transparent transparent !important;
  position: absolute;
  top: 30%;
}

.flex-container {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.nav-content{
  margin: 20px 0 20px 0;
}
.nav-content ul li a{
  padding: 0px !important;
}
.delimiter{
  border-right: 1px solid #d4d4d4;
}

.logo{
  width: 130px;
  height: 40px;
}
@media (min-width: 1200px){
  .message-header .hidden-lg{
    display: none;
  }
}

@media (max-width: 600px){
  .hidden-xs{
    display: none;
  }
  .message-header .float-right{
    margin-right: 10px;
  }
  .message-header .float-left{
    margin-left:10px;
  }
  #img-large{
    display: none !important;
  }
  .logo-mobile{
    width: 65px;
    height: 26px;
  }
  .nav-content{
    display: none;
  }
}

.search-content input {
  border: none;
  color: #333;
  border-right: 1px solid #171717;
  width: 80%;
  padding: 9px 0;
  outline: none;
}

.searchBar {
  display: flex;
  align-items: center;
  justify-content: ;: flex-start;
}

.search-content {
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  margin-left: 5%;
}

.search-content .fa-search{
  font-size: 1.1em;
}

.search-content .fa-smile-o{
  font-size: 1.4em;
  cursor: pointer;
}

.icon-gray{
  color: gray;
  font-size: 1.4rem;
  padding: 5px;
}

.position-right::after{
  width: 100%;
}

.search-movil{
  float: right;
  margin-top: 1rem;
  padding: 0;
  right: 0.6rem;
}

.off-canvas.is-open {
  -ms-transform: translate(0, 0);
      transform: translate(0, 0);
    }

.off-canvas .is-open{
  width: 100% !important;

}

.asideBag{
  width: 100%;
}

#listproduct{
  margin-top: 150px;
}
@media (max-width:600px) {
  .position-right {
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -ms-transform: translateX(100%);
        transform: translateX(100%);
    overflow-y: auto; }
    .position-right.is-open ~ .off-canvas-content {
      -ms-transform: translateX(-100%);
          transform: translateX(-100%); }
    .position-rightis-transition-push::after {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 1px;
      box-shadow: 0 0 10px rgba(10, 10, 10, 0.7);
      content: " "; }
    .position-right.is-transition-overlap.is-open ~ .off-canvas-content {
      -ms-transform: none;
          transform: none; }
}
@media (min-width: 1200px){
	.img-responsive{
		width: 100%;
		height: 560px;
		padding-bottom: 20px;
	}
}

/*Estilo de Galerry carousel*/
.owl-dots{
	display: none;
}

.owl-carousel{
	padding: 0 3rem;
    box-sizing: border-box;
}

.owl-nav{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 0;
	z-index: -1;
}
.owl-next:before, .owl-prev:before{
	font-size: 3em;
	font-weight: 900;
}

#carousel p{
	font-weight: 600;
	margin-left: 3rem;
	color: #666;
}
#carousel a{
	display: inline-block;
	width: 200px;
	height: 200px;
}

#carousel span{
	color: #4a4a4a;
	padding-left: 1rem;
}

#carousel .row{
	margin-top: 2rem;
	margin-bottom: 2rem;
}
/*Estilo de item.html*/
#img-carrito{
	height: 460px;
}

#img-carrito img{
	width: 100%;
	height: 100%;
}
/*estilos del bag*/
.bg-black{
	text-align: center;
	background-color: black;
	color: white;
	font-size: 24px;
	padding: 1rem 0;
}
#bag{
	width: 350px;
	border: 1px solid lightgray;
}

#img-carrito-min{
	border: 1px solid lightgray;
	height: 60px;
}

#bag select{
	width: 75px;
	border: 1px solid black;
}

#Checkout{
	display: block;
	padding: 0.5rem 0;
	font-size: 16px;
	color: white;
}

#bag .cont-flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#bag .row{
	margin-top: 1rem;
}

.cont-flex a{
	color: black;
}

.cont-flex a:hover{
	color: red;
}
#bag .delivery{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	padding: 7px 0;
}

#bag .delivery a{
	color: #333;
}

#bag .delivery a:hover{
	color: #9b9b9b;
}

#bag .delivery i{
	transform: rotateY(180deg);;
	font-size: 2.8em;
	margin-right: 4px;
}

/*END CAROUSEL Y GALLERY*/

/*FOOTER*/
footer{
	clear:both;
	min-height:240px;
	background-color:#fff;
	border-top:0;
}

footer *{
	color: black;
}

.fot-fixed-container:before,
.fot-fixed-container:after{
	content:" ";
	display:table
}

.fot-fixed-container:after{
	clear:both
}

.fot-content-link{
	padding-bottom:16px;
	padding-top:20px;
}
.fot-top-links a{
	font-size: .90em;
    font-weight: 500;
}
.list-style{
	list-style: none;
	margin-left: 0;
}
.bold{
	font-weight: bold;
	font-size: 1.3rem;
}
.suscribe .inputEmail{
	height:43px;
	width:230px;
	padding:6px;
	font-size:inherit;
	display:inline-block !important;
}
.suscribe .validation{
	background-color:#000;
	color:#fff !important;
	font-size:16px;
	font-weight:300;
	height:39px;
	letter-spacing:2px;
	line-height:43px;
	padding:13px 24px;
	text-align:center;
	vertical-align:top;
	width:157px;
	display:inline;
	font-family:inherit;
}
.suscribe .condition{
	font-size: 12px;
}
.sus{
	font-size: 0.8rem;
	font-family: "neutra-book",Helvetica;
}
.mostPopular{
	border-left:1px solid #e5e5e5;
	padding-bottom:20px;
	overflow: hidden;
}
.mostPopular ul{
	padding:0;
	margin:0;
	display: inline-block;
}
.mostPopular ul li{
	float:none;padding:2px 6px 2px 0;
	display:inline-block;
	width:25%
}
.margin-bottom{
  margin-bottom: 60px;
}
.fot-link{
	font-size:.83em;
	font-weight:normal;
}
.h4-bold{
	margin-bottom: 20px;
	font-size: 1.2em;
	font-weight: bold;
}
.margin-top{
	padding-top: 20px;
}
.border-top{
	border-top:1px solid #e5e5e5;
}
.border-bottom{
	border-bottom: 1px solid #e5e5e5;
}

.content-circle{
	background-color: #e54b4d;
	position: fixed;
	bottom: 20px;
	left: 15px;
	padding: 10px 10px 7px 10px;
	border-radius: 50%;
	cursor: pointer;
}

.icon-alarm{
	font-size: 2.8rem;
	color: white;
}

.content-winner{
	right: 20px;
	bottom: 20px;
	position: fixed;
}

.content-winner img{
	width: 128px;
	height: 128px;
}

#contact{
  width: 7rem;
}
